GLOBAL_METADATA_URL=YOUR-GLOBAL-METADATA-URL
QUERY_API=YOUR-QUERY-API
CACHE_TTL=YOUR-CACHE-TTL
REQUEST_TIMEOUT=YOUR-REQUEST-TIMEOUT

# this part use to configure the CORS settings
# replace with your frontend URLs
# for local development, you can use http://localhost:5173 if using Vite
# for production, replace with your deployed frontend URLs
# e.g., https://your-frontend.vercel.app or https://your-frontend   
LOCAL_CORS="YOUR-LOCAL-URL"
DEPLOYED_CORS="YOUR-DEPLOYED-URL"
